<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Questionare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SelectServlet</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>ques.servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/Select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitServlrt</display-name>
    <servlet-name>SubmitServlrt</servlet-name>
    <servlet-class>ques.servlet.SubmitServlrt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlrt</servlet-name>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mlogin</display-name>
    <servlet-name>Mlogin</servlet-name>
    <servlet-class>ques.servlet..Mlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mlogin</servlet-name>
    <url-pattern>/Mlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommomRigest</display-name>
    <servlet-name>CommomRigest</servlet-name>
    <servlet-class>ques.servlet.CommomRigest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommomRigest</servlet-name>
    <url-pattern>/CommomRigest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonLogin</display-name>
    <servlet-name>CommonLogin</servlet-name>
    <servlet-class>ques.servlet.CommonLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonLogin</servlet-name>
    <url-pattern>/CommonLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAnswerServlet</display-name>
    <servlet-name>SelectAnswerServlet</servlet-name>
    <servlet-class>ques.servlet.SelectAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAnswerServlet</servlet-name>
    <url-pattern>/SelectAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>TRY.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>TRY.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryoneServlet</display-name>
    <servlet-name>QueryoneServlet</servlet-name>
    <servlet-class>TRY.QueryoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryoneServlet</servlet-name>
    <url-pattern>/QueryoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>TRY.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionManagerServlet</display-name>
    <servlet-name>QuestionManagerServlet</servlet-name>
    <servlet-class>TRY.QuestionManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionManagerServlet</servlet-name>
    <url-pattern>/QuestionManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionAddServlet</display-name>
    <servlet-name>QuestionAddServlet</servlet-name>
    <servlet-class>TRY.QuestionAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionAddServlet</servlet-name>
    <url-pattern>/QuestionAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionEditServlet</display-name>
    <servlet-name>QuestionEditServlet</servlet-name>
    <servlet-class>TRY.QuestionEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionEditServlet</servlet-name>
    <url-pattern>/QuestionEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionQueryoneServlet</display-name>
    <servlet-name>QuestionQueryoneServlet</servlet-name>
    <servlet-class>TRY.QuestionQueryoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionQueryoneServlet</servlet-name>
    <url-pattern>/QuestionQueryoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueAddServlet</display-name>
    <servlet-name>QueAddServlet</servlet-name>
    <servlet-class>Question.QueAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueAddServlet</servlet-name>
    <url-pattern>/QueAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueEditServlet</display-name>
    <servlet-name>QueEditServlet</servlet-name>
    <servlet-class>Question.QueEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueEditServlet</servlet-name>
    <url-pattern>/QueEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueManagerServlet</display-name>
    <servlet-name>QueManagerServlet</servlet-name>
    <servlet-class>Question.QueManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueManagerServlet</servlet-name>
    <url-pattern>/QueManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueQueryoneServlet</display-name>
    <servlet-name>QueQueryoneServlet</servlet-name>
    <servlet-class>Question.QueQueryoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueQueryoneServlet</servlet-name>
    <url-pattern>/QueQueryoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestiondeleteServlet</display-name>
    <servlet-name>QuestiondeleteServlet</servlet-name>
    <servlet-class>Question.QuestiondeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestiondeleteServlet</servlet-name>
    <url-pattern>/QuestiondeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MloginServlet</display-name>
    <servlet-name>MloginServlet</servlet-name>
    <servlet-class>ques.servlet.MloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MloginServlet</servlet-name>
    <url-pattern>/MloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>ques.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
</web-app>